* {
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: 'Fredoka+One', 'Varela Round','Quicksand', 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ff9966; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5e62, #ff9966); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 30px 70px 30px 70px;
  height: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.grid {
  flex: 1;
  margin-bottom: 50px;
}

.cell {
  font-family: 'Quicksand', 'Fredoka+One', Helvetica, Arial, sans-serif;
  position: relative;
  background-position: center !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #777777;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 60px -10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s;
  font-size: 10px;
  line-height: 10px;
}

.cell:hover {
  box-shadow: 0px 20px 60px -10px rgba(0, 0, 0, 0.3);
}

.site-header {
  text-align: center;
  margin: 30px 0 10px 0;
}

.site-header a:hover {
  text-decoration: none;
}

.site-header h1 {    
  color: #fafafa;
  padding: 10px;
  margin: 0 auto;
}

blockquote {
  border-left: none;
  font-size: 17.5px;
  color: #ffffff;
  width: 45%;
  margin: 0 auto;
}

blockquote p::before,
blockquote p::after {
   content: "“";
}

blockquote p::after {
  content: "”";
}

.site-header__quote p {
  margin-bottom: 5px;
}

.site-header__quote span {
  color: white;
  font-size: 19px;
  font-weight:bold;
}

.default {
  font-weight: bold; 
  margin-top: 7rem;
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  border-radius: 2px;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.details {
  display: flex;
  background: #ffffff73;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 40px;
  font-weight: 100;
  flex-direction: column;
  justify-content: center;
  text-transform: none;
}

.details h1 {
  color: #000000;
  font-size: 26px;
  line-height: 26px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  max-width: 350px;
}

.details p {
  color: #212121;
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  margin: 0;
  padding-top: 15px;    
  min-width: calc(100% / 2);
}

.details-label {
  font-weight:bold;
}

.close {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 26px;
  color: black;
}

.site-footer {
  font-family: 'Valera Round', 'Quicksand', sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fafafa;
  color: #777;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  padding-top: 10px;
  z-index: 1000;
}

.site-footer {
  clear: left;
}

.footerImg {
  width: 16px;
  padding: 1px;
  margin-right: 3px;
}

@media all and (max-width: 762px) {
  body {
    background-repeat: no-repeat !important;
  }

  .site-header  {
      height: 100px !important;
      margin-top: 10px;
  }

  .site-header p {
    color: #fafafa;
    font-size: 19px;
    padding: 0 0 20px 0;
    margin: 0 auto;
    max-width: calc(90% - 100px);
    border-left: hidden;
  }

  .site-header__quote {
    visibility: hidden;
  }

  .grid {
    justify-content: space-around;
  }

  .grid > div > div {
    position: relative !important;
    height: 40vh !important;
    width: 100% !important;
    -webkit-transform: unset !important;
    transform: unset !important;
    padding: 15px;
  }

  .grid > div {
    overflow: scroll !important;
  }

  .details {  
    font-family: 'Quicksand', 'Fredoka+One', Helvetica, Arial, sans-serif;
    justify-content: flex-end !important;
    background: #ffffff99;
    padding: 20px;
    width: 100%;
    justify-content: flex-end !important;
  }

  .details h1 {
    color: #000000;
    font-size: 16px;
    line-height: 0;
    font-weight: 600;
    margin: 0;
    padding: 0;
    max-width: 350px;
  }

  .details p {
    color: #040404;
    font-size: 12px;
    font-weight: 525;
    line-height: 15px;
    margin: 0;
    padding-top: 9px;
    word-break: break-word;
    min-width: 50%;
    max-width: 60%;
    width: auto;
    overflow: hidden;
  }

  .close {
    top: 30px;
    right: 20px;
    font-size: 18px;
    font-weight: bold;
    opacity: .4;
  }

  form {
    margin: 0 auto;
  }

  .site-footer {
    height: auto;
    max-height: calc(100% / 22) !important;
    min-height: 40px;
  }
}