@media (max-width: 768px) {
    body {
        background-repeat: no-repeat;
    }

    .intro {
        padding-top: 50px;
    }
}

img {
    --orig-width: 100%;
    --rising-webkit: all 0.3s cubic-bezier(0.15, 1, 0.33, 1) 0s;
    --rising-transition: all 0.3s cubic-bezier(0.15, 1, 0.33, 1) 0s;
    --special-box-shadow: rgba(91, 94, 99, 0.2) 0px 1px 1px, rgba(108, 114, 125, 0.25) 0px 0px 0.5px 0px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background: #ff9966; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gallery {    
    margin: 0 auto;
    max-width: 960px;
}

/* .responsive-image {
    max-width: var(--orig-width)
} */
/* 
@media screen and (min-width: 600px) {
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .gallery {
      width: 50%;
    }
  }

  @media screen and (min-width: 1000px) {
    .gallery {
      width: calc(100% / 3);
    }
  }

  @media screen and (min-width: 600px) {
    .gallery {
      width: calc(50% - 2rem);
    }
  }
   */
  /* @media screen and (min-width: 1000px) {
    .gallery {
      width: calc(33.3333% - 2rem);
    }
  } */

.cell {
    position: relative;
    display: block;
    margin: 1rem;
    width: 100px;
    height: 100px;
    background-color: #f5f5f5;
    border-radius: 3px;
    overflow: hidden;
    background-repeat: no-repeat;
    -webkit-transition: var(--rising-webkit);
    transition: var(--rising-transition);
    box-shadow: var(--special-box-shadow);
  }

.gallery img {
    width: 100%;
    height: 16vh;
    object-fit: cover;
    margin: 0 auto;
    text-align: center;
}

.gallery img:hover {
    transform: translateY(-3px);
}

.site-header {
    text-align: center;
    color: white;
}

.site-header h2 {
    margin-top: 4rem;
    font-size: 56px;
    letter-spacing: -4px;
}

.site-header p {
    font-size: 20px;
    max-width: 550px;
    margin: 0 auto;
    letter-spacing: -.5px;
}

.site-header blockquote {
    border-left: none
}

.site-footer {
    position: static;
    left: 0;
    bottom: 0;
    padding: .5rem;
    width: 100%;
    text-align: center;
    color: white;
}

@media (min-width: 1024px) {
    .intro p {
        max-width: 23em;
        font-family: 'Quicksand', sans-serif;
        line-height: 1.25em;
    }
}

.intro p {
    display: inline-block;
    max-width: 30em;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0em;
    line-height: 1.6em;
    margin: 0 auto;
}

/* Forms */
.form {
    margin: 0 auto;
    max-width: 620px;
}

form {
    overflow: hidden;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 20px;
    padding-bottom: 5rem;
}

.form-graphic {
    margin: 150px 100px;
    width: 80%;
}

.form h1 {
    color: white;
    padding-bottom: 20px;
}

label {
    float: left;
    width: 150px;
    padding-right: 24px;
}

input {
    float: left;
    opacity: .9;
    border: none;
    border-radius: .5rem;
    padding: 1rem;
}

button {
    float: right;
    width: calc(100% - 200px);
}

input,
button {
    grid-column: 2 / 3;
}

