@media (min-width: 768px) {
    body {
        background-repeat: no-repeat !important;
    }

    .site-header  {
        padding-top: 50px;
    }

    form {
        margin: 0 auto;
    }
}

:root {
    --default-webkit: all 0.3s cubic-bezier(0.15, 1, 0.33, 1) 0s;
    --default-transition: all 0.3s cubic-bezier(0.15, 1, 0.33, 1) 0s;
    --default-box-shadow: rgba(91, 94, 99, 0.2) 0px 1px 1px, rgba(108, 114, 125, 0.25) 0px 0px 0.5px 0px;
}

body {
    font-family: 'Quicksand', 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0;
    min-height: 100vh;
    background: #ff9966; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
    margin-bottom: 0 !important;
}

.gallery {    
    margin: 0 auto 25px;
    max-width: 960px;
}

.gallery img {
    height: 8vw;
    border-radius: 3px;
    -webkit-transition: all 0.3s cubic-bezier(0.15, 1, 0.33, 1) 0s;
    transition: all 0.3s cubic-bezier(0.15, 1, 0.33, 1) 0s;
    box-shadow: rgba(91, 94, 99, 0.2) 0px 1px 1px, rgba(108, 114, 125, 0.25) 0px 0px 0.5px 0px;
}

.gallery img:hover {
    transform: translateY(-3px);
}

.site-header {
    text-align: center;
    color: white;
}

.site-header h2 {
    margin-top: 4rem;
    font-size: 56px;
    letter-spacing: -4px;
}

.site-header p {
    font-size: 20px;
    max-width: 550px;
    margin: 0 auto;
    letter-spacing: -.5px;
}

.site-header blockquote {
    border-left: none
}

.site-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: .5rem;
    width: 100%;
    font-size:12px;
    text-align: center;
    background-color: #f5f5f5;
}

@media (min-width: 1024px) {
    .intro p {
        max-width: 23em;
        font-family: 'Quicksand', sans-serif;
        line-height: 1.25em;
    }
}

.intro p {
    display: inline-block;
    max-width: 30em;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0em;
    line-height: 1.6em;
    margin: 0 auto;
}

form {
    width: 360px;
    padding: 0 0 0;
    margin-bottom: 40px;
}

.upload h1, {
    color: white;
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    opacity: .9;
    border-radius: 2px;
    padding: 10px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:#065784;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
    background: #7B8589;
}

.form-graphic {
    margin: 150px 100px;
    width: 80%;
}

.uploadImg {
	width: 25%;
    margin-bottom: 1.5rem;
    border: 1px solid #b3b3b3;
    padding: .3rem;
    border-radius: .2rem;
}

button {
    float: right;
    width: calc(100% - 200px);
}

.modal-background {
    max-width: 650px !important;
    background-color: transparent;
    margin: auto;
    height: 1000px;
}

.modal-container, .card, .card-body, .card-content {
    height: fit-content !important;
    width: fit-content;  
    max-height: 500px;
    max-width: 1000px; 
    transition: var(--default-transition);
}

/* Custom card */
.card {
    border-radius: 6px;
    background: #f5f5f5;
}

.MuiCardMedia-root-36 {
    height: "-webkit-fill-available";
    max-height: 500px;
    background-size: "cover";
    width: "100%";
}

.card-content {
    padding: 3rem 0 0 5rem; 
    height: fit-content; 
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}
